*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #eee7d7;
}
.form{
    height: 75vh;
    width: 40vw;
    background-color: #fff;
    position: relative;
    top: 5%;
}
.container2{
    height: 65vh;
    width: 35vw;
    border: 1px solid black;
    position: relative;
    border-radius: 0.5rem;
    top: 6%;
}
#login{
    position: relative;
    left: 40%;
    top: 3%;
    text-decoration: none;
    font-size: 25px;
    color: black;
}
#reg{
    font-size: 45px;
}
form{
    width: 80%;
}
input{
    height: 38px;
    width: 360px;
    position: relative;
    top: 9px;
}
#btn{
    height: 38px;
    width: 360px;
    position: relative;
    top: 9px;
    background-color:#feb843;
    font-weight: bolder;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
#err{
    color: red;
    font-size: 18px;
}